@model AdvanceWeb.Models.Student
<div class="row">
  <div class="col-md-12">
    <form form asp-action="Create" enctype="multipart/form-data" >
      <div class="form-group">
        <label asp-for="stuid" class="control-label">Student ID:</label>
        <input asp-for="stuid" class="form-control" />
      </div>
	  <br />
      <div class="form-group">
        <label asp-for="stuname" class="control-label">Student Name:</label>
        <input asp-for="stuname" class="form-control" />
      </div>
	  <br />
      <div class="form-group">
        <label asp-for="stulastname" class="control-label">Student LastName:</label>
        <input asp-for="stulastname" class="form-control" />
      </div>
	  <br />
      <div class="form-group">
        <label asp-for="stuaddress" class="control-label">Score MidTerm:</label>
        <input asp-for="stuaddress" class="form-control" />
      </div>
	  <br />
      <div class="form-group">
        <label asp-for="stuphone" class="control-label">Score Final:</label>
        <input asp-for="stuphone" class="form-control" />
      </div>
	  <br />
      <div class="form-group">
		<label asp-for="ImageFile"></label>
		<input asp-for="ImageFile" accept="images/*" class="form-control"/>
      </div>
      <br />
      <div class="form-group" >
          <div class="row align-items-center">
			  <div class="col-xs-5 col-md-10">
				<input  class="btn btn-primary btn-block" type="submit" value="Create" style="width:100%"/>
			  </div>
			  <div class="col-xs-7 col-md-2 d-flex justify-content-end">
				@Html.ActionLink("< Back to Home","Index")
			  </div>
		  </div>
       
      </div>
    </form>
  </div>
</div>
