@model AdvanceWeb.Models.Student
<br />
<div class="d-flex justify-content-center">
    <div class="card border-primary mb-3" style="max-width: 50rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row justify-content-center"><br />
                        <div class="col-md-8">
                            <h1>Create new Student</h1>
                        </div>
                    </div><br />
                    <form form asp-action="Create" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="stuid" class="control-label">Student ID:</label>
                                    <input asp-for="stuid" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="stuname" class="control-label">Name:</label>
                                    <input asp-for="stuname" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="stulastname" class="control-label">Last Name:</label>
                                    <input asp-for="stulastname" class="form-control" />
                                </div>
                            </div>
                        </div>
	                    <br />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="stuaddress" class="control-label">Address:</label>
                                    <input asp-for="stuaddress" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="stuphone" class="control-label">Phone:</label>
                                    <input asp-for="stuphone" class="form-control" />
                                </div>
                            </div>
                        </div>
	                    <br />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="GPA" class="control-label">GPA:</label>
                                    <input asp-for="GPA" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ImageFile"></label>
		                            <input asp-for="ImageFile" accept="images/*" class="form-control"/>
                                </div>
                            </div>
                        </div>
	                    <br />

                        <div class="form-group" >
                            <div class="row align-items-center">
                                <div class="col-xs-5 col-md-10">
                                    <input  class="btn btn-primary btn-block" type="submit" value="Create" style="width:100%"/>
                                </div>
                                <div class="col-xs-7 col-md-2 d-flex justify-content-end">
                                    <a asp-action="Index" class="btn btn-info">Previous</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
