@model AdvanceWeb.Models.Student
<h1 class="text-center">EDIT</h1>
<div class="row">
  <div class="col-md-12">
  <form asp-action="Edit" enctype="multipart/form-data" >
			@Html.HiddenFor(c=>c.id)
      <div class="form-group">
        <label asp-for="stuid" class="control-label">Student ID:</label>
        <input asp-for="stuid" class="form-control"/>
      </div>
	  <br />
      <div class="form-group">
        <label asp-for="stuname" class="control-label">Name:</label>
        <input asp-for="stuname" class="form-control" />
      </div>
	  <br />
	  <div class="form-group">
        <label asp-for="stulastname" class="control-label">Last Name:</label>
        <input asp-for="stulastname" class="form-control"/>
      </div>
	  <br />
	  
	  <div class="form-group">
        <label asp-for="stuaddress" class="control-label">Address:</label>
        <input asp-for="stuaddress" class="form-control" />
      </div>
	  <br />
	  <div class="form-group">
        <label asp-for="stuphone" class="control-label">Phone:</label>
        <input asp-for="stuphone" class="form-control" />
      </div>
	  <br />
	  
	  <div class="form-group">
		<label asp-for="ImageFile">Select Image:</label>
		<input asp-for="ImageFile" accept="images/*" class="form-control"/>
      </div>
	  <br />
	  <div class="form-group">
		  <div class="row">
			  <div class="col-xs-5 col-md-8">
				<label asp-for="stuimg" class="control-label">Image Name:</label>
				<input asp-for="stuimg" class="form-control"/>
			  </div>
			  <br />
			  <div class="col-xs-7 col-md-4">
				 <img src="@("~/images/"+Model.stuimg)" class="rounded" style="width: 100%" asp-append-version="true"/>
			  </div>
		  </div>
      </div>
	  <br />
      <div class="form-group">
		  <div class="row align-items-center">
			  <div class="col-xs-5 col-md-10">
				<input  class="btn btn-success btn-block" type="submit" value="Edit" style="width:100%"/>
			  </div>
			  <div class="col-xs-7 col-md-2 d-flex justify-content-end">
				@Html.ActionLink("< Back to Detail","Detail",new{id=Model.id})
			  </div>
		  </div>
      </div>
	</form>
  </div>
</div>
